html, body, #map-canvas {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px
}

.angular-google-map-container { height: 600px; }

.searchElement {
    margin-bottom: 5px;
}

#navigationPanel {
    margin-left: -20px;
}

.panel {
    margin-bottom: 10px;
}

.panel-body {
    padding: 20px;
    padding-bottom: 0px;
}

.searchPanel {
    margin-top: 10px;
    margin-bottom: 0px;
}

.startPointLabel {
    color: rgb(51, 190, 51);
}

.endPointLabel {
    color: rgb(215, 62, 62);
}

#legend {
    padding: 10px;
}

input[type=number] {
    width: 80px;
}