<section>
    <fieldset>
        <label id="totalDistanceLabel">Total distance (m): </label>
        <label id="totalDistance">{{statsCtrl.totalDistance | number:0}}</label>
    </fieldset>
    <fieldset>
        <label id="totalTravelTimeLabel">Total travel time (s): </label>
        <label id="totalTravelTime">{{statsCtrl.totalTravelTime | number: 0}}</label>
    </fieldset>
    <fieldset>
        <label id="totalAverageSpeedLabel">Total average speed (m/s): </label>
        <label id="totalAverageSpeed">{{statsCtrl.totalAverageSpeed | number: 1}}</label>
    </fieldset>
</section>