<form id="trafficForm">
    <fieldset>
        <label id="systemTimeLabel">System time (h): </label>
        <input type="number" ng-model="trafficCtrl.time" step="any" ng-enter="trafficCtrl.setSystemTime()">
    </fieldset>
    <fieldset>
        <label>Way ID:</label>
        <label>{{trafficCtrl.wayId}}</label>
    </fieldset>
    <fieldset>
        <label>Average speed (m/s):</label>
        <input type="number" ng-model="trafficCtrl.averageSpeed" step="any" ng-enter="trafficCtrl.setWayAverageSpeed()">
    </fieldset>
    <div ng-if="trafficCtrl.modelAvailable === true">
        <canvas id="line" class="chart chart-line"
                labels="trafficCtrl.xdata" data="trafficCtrl.ydata"
                options="{ pointHitDetectionRadius: 1 }"></canvas>
    </div>
</form>