<form id="searchForm" ng-submit="searchCtrl.computeRoute()">
    <ul class="nav nav-pills">
        <li ng-class="{ active: searchCtrl.isSelected(1) }">
            <a href ng-click="searchCtrl.selectTab(1)">Coordinates</a>
        </li>
        <li ng-class="{ active: searchCtrl.isSelected(2) }">
            <a href ng-click="searchCtrl.selectTab(2)">Address</a>
        </li>
    </ul>
    <fieldset ng-show="searchCtrl.isSelected(1)">
        <label class="startPointLabel">Start point: </label>
        <input type="text" ng-model="searchCtrl.startPoint"/>
        <label class="endPointLabel">End point: </label>
        <input type="text" ng-model="searchCtrl.endPoint"/>
    </fieldset>
    <fieldset ng-show="searchCtrl.isSelected(2)">
        <label class="startPointLabel">Start address: </label>
        <input type="text" ng-model="searchCtrl.startAddress"/>
        <label class="endPointLabel">End address: </label>
        <input type="text" ng-model="searchCtrl.endAddress"/>
    </fieldset>
    <fieldset>
        <div class="btn-group">
            <div class="btn">
                <button class="btn btn-primary" type="submit">Compute path</button>
            </div>
            <div class="btn">
                <button class="btn btn-block" type="button" ng-click="searchCtrl.cancelRequest()">Cancel request</button>
            </div>
        </div>
    </fieldset>
</form>